.scoreboardContainer {
  display: flex;
  flex-direction: column;
  gap: .5em;
  align-items: center;
  padding: .5em 0;
}

.scoreboardRow {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 95%;
  margin: 0 auto;
  color: white;
  border-radius: 1em;
  transition: 1s;
}

.groupName {
  display: flex;
  gap: 1em;
}

.vliet {
  border-bottom: 5px solid purple;
  background: red;
}

.asopos {
  border-bottom: 5px solid red;
  background: purple;
}

.firstPlace {
  border-bottom: 5px solid darkgoldenrod;
  background: goldenrod;
}

.secondPlace {
  border-bottom: 5px solid #d1d1d1;
  background: silver;
}

.thirdPlace {
  border-bottom: 5px solid #8b4513;
  background: #cd7f32;
}
