<div>
  <app-header></app-header>
  <div class="container">
    <div class="inputContainer">
      <label>Punten:</label>
      <input (keyup)="changePoints($event)" [value]="points" class="input" type="number" placeholder="123" />
    </div>
    <div class="inputContainer">
      <label>Groep:</label>
      <select (change)="changeGroup($event)" class="input">
        <option disabled [defaultSelected]="true" [selected]="group == ''" value> -- kies een optie -- </option>
        <option *ngFor="let g of groups$|async" [value]="g.name" [selected]="g.name == group">{{g.name}}</option>
      </select>
    </div>
    <div class="buttonsContainer">
      <button class="secondary" (click)="subtractPoints()" [disabled]="points == 0 || group == '' ">Aftrekken</button>
      <button (click)="addPoints()" [disabled]="points == 0 || group == '' ">Toevoegen</button>
    </div>
  </div>
  <app-toaster *ngIf="showToaster"></app-toaster>
</div>
